<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beni.diceolympics">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppEntrance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InputNames"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseGame"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PigdiceEntrance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MidnightEntrance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PigdiceInstructions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PigdiceGame"
            android:screenOrientation="landscape" />
        <activity
            android:name=".WinnerScreen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MidnightInstructions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MidnightGame"
            android:screenOrientation="landscape" />
        <activity
            android:name=".WhosStarting"
            android:screenOrientation="landscape" />
        <activity
            android:name=".YatzeeInstructions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YatzeeTopPlayer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YatzeeEndGame"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YatzeeEndGameTopPlayer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YatzeeEntrance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YatzeePlayScreen"
            android:screenOrientation="portrait" />
        <activity android:name=".JustHeck"></activity>
    </application>

</manifest>